<!-- <h1 mat-dialog-title>Hi {{user.displayname}}</h1>
<div mat-dialog-content>
    <p>Who would you like to chat with?</p>
    <mat-sidenav position="end" mode="side" opened *ngIf="selectedConversation">
        <mat-card>
            <mat-list class="conversations">
                <mat-list-item *ngFor="let friend of friendList; let i = index" (click)="openConversation(i)">
                    <p>{{ friend.name }}</p>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </mat-sidenav>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->