<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
          <mat-list class="conversations">
            <!-- <mat-list-item
              *ngFor="let conversation of conversations; let i = index;"
              (click)="selectConversation(conversation.id, i)"
            >
              <mat-icon matListIcon>forum</mat-icon>
              <p>{{ conversation.display_name }}</p>
              <mat-icon
                [ngStyle]="{ float: 'right' }"
                (click)="deleteConversation(conversation.id)"
                >delete</mat-icon
              >
            </mat-list-item> -->
            <mat-list-item></mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav position="end" mode="side" opened *ngIf="selectedConversation">
    <mat-card>
      <mat-list class="conversations">
        <mat-list-item
          *ngFor="let friend of friendList; let i = index"
          (click)="openConversation(i)"
        >
          <p>{{ friend.name }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-sidenav>
  <section class="empty-conversation" *ngIf="!selectedConversation">
    <h1 class="mat-display-1">
      Select a conversation from the left to start chatting
    </h1>
  </section>
  <section *ngIf="selectedConversation">
    <div class="mat-typography conversation-header">
      <h2>
        <mat-icon>forum</mat-icon>
        {{ selectedConversation.members[0].name }}
      </h2>
      <!-- <p>
          <mat-icon>account_circle</mat-icon>
          {{(selectedConversation.members | keys).length}} Members</p> -->
    </div>

    <mat-divider></mat-divider>
    <mat-list dense  class="conversation-history mat-typography">
      <mat-list-item
        *ngFor="let event of events; index as i"
        [dir]="event.from === this.userInfo.uid ? 'rtl' : 'ltr'"
      >
        <img
          *ngIf="event.type == 'text'"
          matListAvatar
          matTooltip="{{ event.from === this.userInfo.uid ?  userInfo.displayName : selectedConversation.members[0].name}}"
          src="https://randomuser.me/api/portraits/thumb/lego/{{ i % 10 }}.jpg"
        />
        <p *ngIf="event.type == 'text'" [dir]="'ltr'">{{ event.text }}</p>
        <p *ngIf="event.type == 'member:joined'" class="text-center">
          <!-- <b>{{ selectedConversation.members[event.from].name }}</b> -->
          has joined the conversation
        </p>
      </mat-list-item>
      <mat-list-item *ngFor="let message of messages">{{
        message
      }}</mat-list-item>
    </mat-list>

    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width" (keyup.enter)="sendMessage(message)">
        <input
          class="input__field"
          matInput
          placeholder="Start chatting..."
          name="message"
          [(ngModel)]="message"
        />
        <mat-icon
          matSuffix
          (click)="sendMessage(message)"
          (keyup)="$event.keyCode == 13 && sendMessage()"
          >send</mat-icon
        >
        <!-- <input matInput placeholder="Start chatting..." name="text" >
          <mat-icon matSuffix >send</mat-icon> -->
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>
