<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon matListIcon>forum</mat-icon>
          </ng-template>
            <!-- left side conversation list-->
          <mat-list class="conversations">
            <mat-list-item *ngIf="chatroomList.length === 0">Loading...</mat-list-item>
            <mat-list-item
              class="roomNameList"
              *ngFor="let friend of chatroomList; let i = index"
              (click)="openConversation(i)"
              class="anchor"
            >
              <p>{{ friend.name }}</p>
              <mat-divider></mat-divider>
            </mat-list-item>
            <!-- <mat-list-item
              *ngFor="let conversation of conversations; let i = index;"
              (click)="selectConversation(conversation.id, i)"
            >
              <mat-icon matListIcon>forum</mat-icon>
              <p>{{ conversation.display_name }}</p>
              <mat-icon
                [ngStyle]="{ float: 'right' }"
                (click)="deleteConversation(conversation.id)"
                >delete</mat-icon
              >
            </mat-list-item> -->
            <mat-list-item *ngFor="let roomname of roomName">
                <b>{{roomname}}</b>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
      <mat-menu #appMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="openDialog()">Create Channel</button>
        <button mat-menu-item>Private Message Individual</button>
      </mat-menu>
        
      <button mat-raised-button color="primary" [matMenuTriggerFor]="appMenu" style="position: absolute; bottom: 20px; right: 15px;">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav position="end" mode="side" opened *ngIf="selectedConversation">
    <mat-card>
      <!-- right side conversation list-->
      <mat-list class="conversations">
        <mat-list item>
            <mat-list-item *ngIf="userListEvents.length === 0">Loading...</mat-list-item>
            <mat-list-item
            *ngFor="let userListEvent of userListEvents; index as i"
            [dir]="'ltr'"
          >
            <p >{{ userListEvent.displayName }}</p>
            <p *ngIf="userListEvent.type == 'member:joined'" class="text-center">
              has joined the conversation
            </p>
          </mat-list-item>
        </mat-list>
        <mat-form-field class="full-width" (keyup.enter)="addUserByEmail(inputtedEmail)">
            <input
              class="input__field"
              matInput
              placeholder="addperson@example.com"
              name="email"
              [(ngModel)]="inputtedEmail"
            />
            <mat-icon
              matSuffix
              (click)="addUserByEmail(inputtedEmail)"
              >person_add</mat-icon
            >
          </mat-form-field>
      </mat-list>
    </mat-card>
  </mat-sidenav>
  <section class="empty-conversation" *ngIf="!selectedConversation">
    <h1 class="mat-display-1">
      Select a conversation from the left to start chatting
    </h1>
  </section>
  <section [class.show]="selectedConversation">
    <div class="mat-typography conversation-header">
      <h2>
        <mat-icon style="padding-right: 6px;">forum</mat-icon><b></b>
        {{ selectedConversation.name }}
      </h2>
      <!-- <p>
          <mat-icon>account_circle</mat-icon>
          {{(selectedConversation.members | keys).length}} Members</p> -->
    </div>

    <!-- Conversation History-->
    <mat-divider></mat-divider>
    <mat-list id="scrollMe" dense class="conversation-history mat-typography">

      <mat-list-item
      
      [ngStyle]="{'word-break': 'break-word', 'overflow': 'hidden', 'display': 'flex', 'align-items': 'flex-start'}"
      *ngFor="let event of events; index as i"
        [dir]="event.from === this.userInfo.uid ? 'rtl' : 'ltr'"
      >
      <div class="messages">
        <div [ngStyle]="{'display': 'flex', 'flex-direction': 'column', 'justify-content': 'center', 'align-items': 'center'}">
        <img
          *ngIf="event.type == 'text'"
          matListAvatar
          matTooltip="{{ event.from === this.userInfo.uid ?  userInfo.displayName : this.selectedConversation.name}}"
          src="https://randomuser.me/api/portraits/thumb/lego/{{ i % 10 }}.jpg"
        />
        <div [ngStyle]="{'position': 'relative', 'left': '2px'}" [innerHtml]="updateEmoji(event.tone_id)"></div> <!-- placeholder for emoji-->
        </div>
        <p *ngIf="event.type == 'text'" [dir]="'ltr'" class="dialog__box">{{ event.text }}</p>
        <p *ngIf="event.type == 'member:joined'" class="text-center">
          has joined the conversation
        </p>
      </div>
      </mat-list-item>

    </mat-list>

    <!-- Chat input box-->
    <div class="conversation-input">
      <mat-divider></mat-divider>
      <mat-form-field class="full-width" (keyup.enter)="sendMessage(message)">
        <input
          class="input__field"
          matInput
          placeholder="Start chatting..."
          name="message"
          [(ngModel)]="message"
        />
        <mat-icon
          matSuffix
          (click)="sendMessage(message)"
          >send</mat-icon
        >
      </mat-form-field>
    </div>
  </section>
</mat-sidenav-container>